@model IEnumerable<IssueTracker.Models.Issue>

@{
    ViewData["Title"] = "Home Page";


    Issue mostRecentIssue = (Issue)ViewData["MostRecentIssue"];
    Issue mostRecentUpdate = (Issue)ViewData["MostRecentUpdate"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Looking for Issues?</p>
</div>

<h1>Highlights</h1>
<table class="table">
    <thead>
        <tr>
            <td>
            </td>
            <td>
                Issue Name
            </td>
            <td>
                First Reported
            </td>
            <td>
                Last Updated
            </td>
            <td>
                Status
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Most Recently Created
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@mostRecentIssue.Id">@mostRecentIssue.IssueName</a>
            </td>
            <td>
                @mostRecentIssue.FirstReported
            </td>
            <td>
                @mostRecentIssue.LastUpdated
            </td>
            <td>
                @mostRecentIssue.Status
            </td>
        </tr>

        <tr>
            <td>
                Most Recent Updated
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@mostRecentUpdate.Id">@mostRecentUpdate.IssueName</a>
            </td>
            <td>
                @mostRecentUpdate.FirstReported
            </td>
            <td>
                @mostRecentUpdate.LastUpdated
            </td>
            <td>
                @mostRecentUpdate.Status
            </td>
        </tr>
    </tbody>
</table>
